@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Merienda:wght@400;700&display=swap");

.MainMenu {
  max-width: 100%;
  height: 100vh;
  position: relative;

  .menu {
    width: 50%;
    height: 60%;
    background-image: url("../../assets/images/menu-bg.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    button {
      font-family: "Merienda", cursive;
      font-size: 1.55em;
      min-width: 30%;
      height: 12%;
      background: rgb(47, 100, 12);
      border-radius: 35px;
      color: rgb(255, 217, 249);
    }

    button:hover {
      background: rgb(0, 167, 28);
    }
  }
}

@media (max-width: 1000px) {
  .MainMenu .menu button {
    font-size: 1em;
  }
}
@media (max-width: 700px) {
  .MainMenu .menu button {
    font-size: 0.7em;
  }
}
