#root,
.fullscreen-enabled .my-component,
.fullscreen {
  background-image: url("../../assets/images/background.png");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}
button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

footer {
  position: fixed;
  // width: 100%;
  height: 30px;
}

.rs-logo {
  position: fixed;
  bottom: 3%;
  left: 50%;
  height: 6%;
}

.my-git {
  position: fixed;
  bottom: 3%;
  left: 40%;
  height: 6%;
}
