@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Merienda:wght@400;700&display=swap");

.MenuBtn {
  position: absolute;
  left: 3%;
  top: 3%;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 1.1em;
  border-radius: 5px;
  background: linear-gradient(#26361d, #420d18);
  color: whitesmoke;
  z-index: 2;
}
