.music {
  right: 9%;
  top: 3%;
  position: absolute;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 1.1em;
  border-radius: 5px;
  background: linear-gradient(#232f44, #381219);
  color: whitesmoke;
  z-index: 2;
}

.sound {
  right: 3%;
  top: 3%;
  position: absolute;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 1.1em;
  border-radius: 5px;
  background: linear-gradient(#232f44, #381219);
  color: whitesmoke;
  z-index: 2;
}
