.rules {
  max-width: 100%;
  height: 100vh;
  position: relative;

  span {
    color: whitesmoke;
  }
  .rules-window {
    width: 50%;
    height: 60%;
    background-image: url("../../assets/images/setting-bg.PNG");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    // display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    font-family: sans-serif;
    text-align: center;

    .hot-keys {
      position: absolute;
      left: 35%;
      background: rgba($color: #000000, $alpha: 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 90%;
      height: 50%;

      span {
        font-size: 1.4em;
        transform: translateX(-12%);
        // margin-bottom: 15px;
        font-family: "Akaya Kanadaka", cursive;
      }
      div {
        display: flex;
        justify-content: space-evenly;
        color: whitesmoke;
        font-size: 1.2em;
        font-family: "Akaya Kanadaka", cursive;
      }
      .keys {
        font-size: 1.2em;
        color: red;
        font-weight: 700;
        font-size: 1.4em;
        margin-right: 20px;
        transform: translateY(-20%);
      }
    }

    .how-play {
      font-family: "Akaya Kanadaka", cursive;
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      display: flex;
      //   align-items: center;
      span:first-child {
        align-self: center;
        // justify-content: center;
        font-size: 1.4em;
        width: 30%;
        margin-right: 5%;
        margin-left: 5%;
      }
      .cards-rules {
        display: flex;
        flex-basis: 80%;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        // align-items: ;

        div {
          display: flex;
          align-items: center;
          img {
            margin-right: 3px;
          }
        }
      }

      .rules-points {
        font-size: 1.2em;
      }
      .card-for-rules {
        width: 50px;
      }
    }
  }
}
